@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@keyframes fadeInOut {
  0%, 100% { opacity: 0.7; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1); }
}

@keyframes float {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(-6px); opacity: 0.7; }
  100% { transform: translateY(0); opacity: 1; }
}

.delay-1s {
  animation-delay: 1s !important;
}
.delay-2s {
  animation-delay: 2s !important;
}
.delay-3s {
  animation-delay: 3s !important;
}
.delay-4s {
  animation-delay: 4s !important;
}

.rotate-12 {
  transform: rotate(12deg) !important;
}
.-rotate-12 {
  transform: rotate(-12deg) !important;
}
.rotate-45 {
  transform: rotate(45deg) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
